In [1]:
import pandas as pd
import pymysql

In [4]:
db = pymysql.connect(host='localhost', user = 'root', passwd = '0000', db = 'project02', charset = 'utf8')
query1 = "SELECT * FROM reports"
query2 = "SELECT * FROM companies"

reports_df = pd.read_sql_query(query1, db, index_col = 'id')
companies_df= pd.read_sql_query(query2, db, index_col = 'company')

c:\Users\dowra\OneDrive\바탕 화면\Project02 - Hankyung\venv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\dowra\OneDrive\바탕 화면\Project02 - Hankyung\venv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [11]:
db.close()

           code    category
company
BGF리테일   282330    백화점과일반상점
CJ프레시웨이  051500  식품과기본식료품소매